<div class="container">

  <h2>
    Encontre Linha de ônibus:
  </h2>

  <div class="row">
    <div class="col-lg-1">
      <label for="busca">Nome ou número da linha:</label>
      <input type="text" class="form-control" id="onibusInput" placeholder="Search" #onibusInput>
      <button type="button" style="margin-top:10px" (click)="buscarLinha(onibusInput.value)" class="btn-lg btn-block btn-primary">Buscar</button>
    </div>


  </div>

  <div class="results row" *ngIf="showResults">
      <div class="col-lg-1">
            <button type="button" class="btn btn-block btn-default">715-M | Maria Luiza</button>
            <button type="button" class="btn btn-block btn-default">715-M | Lg. Pólvora</button>

      </div>
  </div>
</div>
