<div class="container">

  <h2>
    Saiba Onde seu ônibus está
  </h2>

  <div class="row">
    <div class="col-lg-1">
      <label for="busca">Nome ou número da linha:</label>
      <input type="text" class="form-control" id="onibusInput" placeholder="Search" #onibusInput>
      <button type="button" style="margin-top:10px" (click)="buscarLinha(onibusInput.value)" class="btn-lg btn-block btn-primary">Buscar</button>
    </div>
  </div>

  <agm-map *ngIf="mapVisible" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]=false>
    <agm-marker *ngFor="let obs of busPosition" [latitude]="obs.lat" [longitude]="obs.lng">
        <agm-info-window>
            <strong>{{obs.bus}}</strong>
          </agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="results row">
      <div class="col-lg-1">
            <button type="button" *ngFor="let l of lines" (click)="acharPosicoesBus(l.codigoLinha, l.name)" class="btn btn-block btn-default">{{l.name}}</button>
      </div>
  </div>

</div>
