<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div class="col-sm-12 text-center">
        <h1>
          Veja Por Mim
        </h1>
  </div>
</div>
  <button type="button" class="btn btn-primary btn-lg btn-block" btnCheckbox
  btnCheckboxTrue="1" btnCheckboxFalse="0">
Novo Destino
</button>


<button type="button" class="btn btn-primary btn-lg btn-block" btnCheckbox
btnCheckboxTrue="1" btnCheckboxFalse="0">
Destinos Favoritos
</button>

<button type="button" class="btn btn-primary btn-lg btn-block" btnCheckbox
btnCheckboxTrue="1" btnCheckboxFalse="0">
<label>Mapa</label>
</button>

<button type="button" class="btn btn-primary btn-lg btn-block" btnCheckbox
btnCheckboxTrue="1" btnCheckboxFalse="0">
Ônibus
</button>
