.nav-btn {
    border: none;
}

.nav-container{
    background-color: darkblue;
    width: 105%;
}

.titulo{
    float: left;
    color: white;
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
}

.btn-nav {
    position: absolute;
    right: 2em;
    top: 0.5em;
}