.nav-btn {
    border: none;
}


.nav-container{
    background-color: #0c64a3;
    width: 105%;
}

.titulo{
    float: left;
    color: white;
    font-family: Ubuntu;
    font-size: 2em;
    padding-left: 1.5em;
    padding-top: 0.5em;
}

.btn-menu {
    float:right;
    color: #074d7f;
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-top: 0.5em;
}