<div class="container">
    <h1>Adicionar favoritos</h1>
    <form #f="ngForm">
      <div class="form-group">
        <label class="pergunta">O que é esse endereço para você?</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="favorite.name">
      </div>
      <div class="redio-content form-group">
        <label class="pergunta">Qual endereço você deseja adicionar?</label>
        <div class="radio" *ngFor="let a of address">
          <label>
            <input type="radio" name="addr" [(ngModel)]="favorite.address" [value]="a">
            {{a}}
          </label>
        </div>
        <div class="radio">
            <label>
              <input type="radio" name="addr" value="others" [(ngModel)]="favorite.address">
              Outro
            </label>
            <input placeholder="Digite o endereco desejado" type="text" class="form-control" name="other" [(ngModel)]="favorite.other">
          </div>
      </div>
     
      <button type="submit" (click)="registerFavorite(f)" class="btn btn-yellow btn-default">Adicionar</button>
    </form>