.sebm-google-map-container {
    
    height: 50vh;
}
label {
    font-size: 1.3em;   
    position: relative;
    float:left;
}

input {
    font-size: 1.3em;   
}

.btn-default {
    color: #fff;
    background-color: rgb(188, 15, 15);
    border-color: #A42E2E;
}

.btn {
    font-size: 1.5em;
}

.btn-favorite {
    background: #051838;
    color: white;
}