.sebm-google-map-container {
    
    height: 50vh;
}
label {
    font-size: 1.3em;   
    position: relative;
    float:left;
}

input {
    font-size: 1.3em;   
}



.btn {
    font-size: 1.5em;
}

.btn-favorite {
    background: #051838;
    color: white;
}