<div class="container">
  <form>

    <!-- FIX-ME  consertar a tela, O titulo e o input estao grudados... -->
    <div class="form-group">
      <label for="usr">Origem: </label>
    </div>
    
    <div class="form-group">
      <div class="input-group">
        <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #origem [formControl]="destinationInput">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="tryToRecord(destinationInput)">
              <img src="../../assets/images/white-microphone.png" width="12" height="20"/>
          </button>
        </span>
       </div>
    </div>

    <div class="form-group">
      <label for="pwd">Destino</label>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #destino [formControl]="destinationOutput" >
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="tryToRecord(destinationOutput)">
              <img src="../../assets/images/white-microphone.png" width="12" height="20"/>
          </button>
        </span>
      </div>
    </div>  
    <button type="button" (click)="calculateRoute(origem.value, destino.value)" class="btn btn-primary btn-block">Calcular rota!</button>
    <button type="button" (click)="addFavorite(origem.value, destino.value)" class="btn btn-favorite btn-block">Adicionar Favorito</button>
  </form>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]=false>
    <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
            <strong>Minha Localização</strong>
          </agm-info-window>
    </agm-marker>
    <directions [origin]="origin" [destination]="destination"></directions>
</agm-map>
</div>
