<div class="container">
    <h2>Defina uma rota:</h2>
  <form>
    <div class="form-group">
      <label for="usr">Origem:</label>
      <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #origem [formControl]="destinationInput">
    </div>
    <div class="form-group">
      <label for="pwd">Destino:</label>
      <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #destino [formControl]="destinationOutput" >
    </div>
    <button type="button" (click)="calculateRoute(origem.value, destino.value)" class="btn btn-primary btn-block">Calcular rota!</button>
    <button type="button" (click)="addFavorite(origem.value, destino.value)" class="btn btn-yellow btn-block">Adicionar Favorito</button>
  </form>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]=false>
    <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
            <strong>Minha Localização</strong>
          </agm-info-window>
    </agm-marker>
    <directions [origin]="origin" [destination]="destination"></directions>
</agm-map>
</div>
