<div class="container">
    <h2>Você encontrou um obstáculo !</h2>

<form #obstaclesForm="ngForm" (ngSubmit)="registerObstacle(obstaclesForm)">
    <div class="form-group">
        <label for="email">Que tipo de obstáculo?</label>
        <div class="radio">
          <label><input type="radio" name="optradio" id="hole" ngModel>Buraco</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" id="post" ngModel>Poste</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" id="others" ngModel>Outro</label>
        </div>
    </div>


  <button class="btn btn-default" type="submit">Enviar Obstáculo</button>
</form>

</div>