<div class="container">
    <h2>Você encontrou um obstáculo !</h2>
    <form>
      <div class="form-group">
          <label for="email">Que tipo de obstáculo?</label>
          <div class="radio">
            <label><input type="radio" name="optradio">Buraco</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">Poste</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">Outro</label>
          </div>
      </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>